# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [54]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
browser = webdriver.Chrome('../chromedriver.exe')
browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

In [55]:
selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value('11')
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2018')

browser.find_element_by_id('ctl05_btnQuery').click()

In [80]:
html_source = browser.page_source

soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', class_='TABLE_G')

#欄目
col = []
for th in table.find_all('tr')[0].find_all('th'):
    col.append(th.text)

#項目
keys = []
content = []
for tr in table.find_all('tr'):
    for td in tr.find_all('td',{'class':'no-alt'}):
        keys.append(td.text)
    for td in enumerate(tr.find_all('td')):
        print(td)
        print('=============')

(0, <td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">SO2</td>)
=============
(1, <td class="no-alt" rowspan="12" valign="top">ppb</td>)
=============
(2, <td>2018/01</td>)
=============
(3, <td>1.80</td>)
=============
(4, <td> </td>)
=============
(0, <td>2018/02</td>)
=============
(1, <td>1.90</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/03</td>)
=============
(1, <td>2.20</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/04</td>)
=============
(1, <td>2.30</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/05</td>)
=============
(1, <td>3.10</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/06</td>)
=============
(1, <td>2.70</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/07</td>)
=============
(1, <td>2.20</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/08</td>)
=============
(1, <td>2.40</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/09</td>)
=============
(1, <td>2.10</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/10</td>)
=============
(1, <td>1.70</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/11</td>)
=============
(1, <td>1.90</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/12</td>)
=============
(1, <td>1.80</td>)
=============
(2, <td> </td>)
=============
(0, <td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">CO</td>)
=============
(1, <td class="no-alt" rowspan="12" valign="top">ppm</td>)
=============
(2, <td>2018/01</td>)
=============
(3, <td>0.34</td>)
=============
(4, <td> </td>)
=============
(0, <td>2018/02</td>)
=============
(1, <td>0.44</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/03</td>)
=============
(1, <td>0.40</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/04</td>)
=============
(1, <td>0.38</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/05</td>)
=============
(1, <td>0.34</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/06</td>)
=============
(1, <td>0.29</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/07</td>)
=============
(1, <td>0.21</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/08</td>)
=============
(1, <td>0.30</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/09</td>)
=============
(1, <td>0.26</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/10</td>)
=============
(1, <td>0.29</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/11</td>)
=============
(1, <td>0.30</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/12</td>)
=============
(1, <td>0.35</td>)
=============
(2, <td> </td>)
=============
(0, <td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">O3</td>)
=============
(1, <td class="no-alt" rowspan="12" valign="top">ppb</td>)
=============
(2, <td>2018/01</td>)
=============
(3, <td>33.40</td>)
=============
(4, <td> </td>)
=============
(0, <td>2018/02</td>)
=============
(1, <td>32.50</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/03</td>)
=============
(1, <td>35</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/04</td>)
=============
(1, <td>38.40</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/05</td>)
=============
(1, <td>31.60</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/06</td>)
=============
(1, <td>29.50</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/07</td>)
=============
(1, <td>18.70</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/08</td>)
=============
(1, <td>26.40</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/09</td>)
=============
(1, <td>29.10</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/10</td>)
=============
(1, <td>45.90</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/11</td>)
=============
(1, <td>32.40</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/12</td>)
=============
(1, <td>30.70</td>)
=============
(2, <td> </td>)
=============
(0, <td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">PM10</td>)
=============
(1, <td class="no-alt" rowspan="12" valign="top">μg/m3</td>)
=============
(2, <td>2018/01</td>)
=============
(3, <td>23</td>)
=============
(4, <td> </td>)
=============
(0, <td>2018/02</td>)
=============
(1, <td>41</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/03</td>)
=============
(1, <td>39</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/04</td>)
=============
(1, <td>48</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/05</td>)
=============
(1, <td>37</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/06</td>)
=============
(1, <td>26</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/07</td>)
=============
(1, <td>24</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/08</td>)
=============
(1, <td>26</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/09</td>)
=============
(1, <td>28</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/10</td>)
=============
(1, <td>33</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/11</td>)
=============
(1, <td>25</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/12</td>)
=============
(1, <td>21</td>)
=============
(2, <td> </td>)
=============
(0, <td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NOx</td>)
=============
(1, <td class="no-alt" rowspan="12" valign="top">ppb</td>)
=============
(2, <td>2018/01</td>)
=============
(3, <td>14.17</td>)
=============
(4, <td> </td>)
=============
(0, <td>2018/02</td>)
=============
(1, <td>19.43</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/03</td>)
=============
(1, <td>18.50</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/04</td>)
=============
(1, <td>15.24</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/05</td>)
=============
(1, <td>15.20</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/06</td>)
=============
(1, <td>13.79</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/07</td>)
=============
(1, <td>11.60</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/08</td>)
=============
(1, <td>14.75</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/09</td>)
=============
(1, <td>12.40</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/10</td>)
=============
(1, <td>12.45</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/11</td>)
=============
(1, <td>13.41</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/12</td>)
=============
(1, <td>14.56</td>)
=============
(2, <td> </td>)
=============
(0, <td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NO</td>)
=============
(1, <td class="no-alt" rowspan="12" valign="top">ppb</td>)
=============
(2, <td>2018/01</td>)
=============
(3, <td>3.41</td>)
=============
(4, <td> </td>)
=============
(0, <td>2018/02</td>)
=============
(1, <td>4.48</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/03</td>)
=============
(1, <td>4.93</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/04</td>)
=============
(1, <td>2.60</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/05</td>)
=============
(1, <td>2.26</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/06</td>)
=============
(1, <td>2.41</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/07</td>)
=============
(1, <td>2.68</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/08</td>)
=============
(1, <td>2.68</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/09</td>)
=============
(1, <td>2.41</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/10</td>)
=============
(1, <td>2.13</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/11</td>)
=============
(1, <td>2.71</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/12</td>)
=============
(1, <td>3.42</td>)
=============
(2, <td> </td>)
=============
(0, <td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NO2</td>)
=============
(1, <td class="no-alt" rowspan="12" valign="top">ppb</td>)
=============
(2, <td>2018/01</td>)
=============
(3, <td>10.77</td>)
=============
(4, <td> </td>)
=============
(0, <td>2018/02</td>)
=============
(1, <td>14.95</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/03</td>)
=============
(1, <td>13.56</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/04</td>)
=============
(1, <td>12.64</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/05</td>)
=============
(1, <td>12.94</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/06</td>)
=============
(1, <td>11.38</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/07</td>)
=============
(1, <td>8.92</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/08</td>)
=============
(1, <td>12.08</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/09</td>)
=============
(1, <td>10</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/10</td>)
=============
(1, <td>10.33</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/11</td>)
=============
(1, <td>10.71</td>)
=============
(2, <td> </td>)
=============
(0, <td>2018/12</td>)
=============
(1, <td>11.15</td>)
=============
(2, <td> </td>)
=============
(0, <td class="no-alt" rowspan="1" style="white-space:nowrap;" valign="top">THC</td>)
=============
(1, <td class="no-alt" rowspan="1" valign="top">ppm</td>)
=============
(2, <td> </td>)
=============
(3, <td> </td>)
=============
(4, <td>無此測項</td>)
=============
(0, <td class="no-alt" rowspan="1" style="white-space:nowrap;" valign="top">NMHC</td>)
=============
(1, <td class="no-alt" rowspan="1" valign="top">ppm</td>)
=============
(2, <td> </td>)
=============
(3, <td> </td>)
=============
(4, <td>無此測項</td>)
=============
(0, <td style="white-space:nowrap;">CH4</td>)
=============
(1, <td>ppm</td>)
=============
(2, <td> </td>)
=============
(3, <td> </td>)
=============
(4, <td>無此測項</td>)
=============

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [ ]:
'''
Your Code
'''